/*=== GERAL =================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --primary-color: green;
  --headline: black;
  --paragraph:  hsl(0, 2%, 37%);
  --transition: hsl(110, 85%, 40%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(43, 98%, 51%);
  --brand-light-2: hsl(252, 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);

  --bg-light: hsl(0, 6%, 6%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);

  
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;

}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  
}

section {
  padding-block: 10rem;

}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--brand-light-2);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
  
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  

  color: var(--brand-light-2);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--brand-light-2);
  line-height: 130%;
  

  margin-bottom: 2.4rem;
  
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--brand-light-2);
}

.button {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: var(--brand-light-2);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: transform 200ms;
  
  

  
}

.button:hover {
  background-color: var(--transition);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* custom colors */
#services .card circle {
  fill: var(--brand-light);
}

#navigation .logo path[fill*='#00856F'],
#backToTopButton circle {
  fill: var(--primary-color);
}

button.open-menu path[stroke*='#00856F'],
#contact li path {
  stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: white;
}

#navigation.scroll button.open-menu path[stroke*='#00856F'] {
  stroke: white;
}

/*=== NAVIGATION =================================*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--brand-light-2);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*=== MENU-EXPANDED =================================*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--brand-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--brand-light-2);
  text-decoration: none;
}

.menu .button {
  background: var(--brand-light-2);
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: var(--brand-light-2);

  filter: brightness(1.3);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--brand-light-2);
}

body.menu-expanded button path {
  stroke: white;
}

/*=== #HOME =================================*/
#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
  color: var(--brand-light-2);
}

#home::before {
  content: '';
  width: 100%;
  height: calc(76% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#home h1{
  margin-bottom: 2rem;
  font-size: 5rem;
  
}

#home .marca{
  font-size: 6rem;
}

#home .button {
  margin-inline: auto;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--brand-light-2);

  margin-bottom: 3.2rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
  margin-bottom: 3rem;
 

}

#home .col-b .moto {

  width: 100%;
  height: 300px;
  margin-bottom: 0;
  
  
}

#home .stats {
  width: 80%;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-light-2);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}
/*==============Product-list==============*/
#loja header h5 {
  font-size: 3rem;
  color: var(--primary-color);

}

#loja header h2 {
  font-size: 3rem;
  margin-inline: auto;
  color: var(--brand-light-2);
  margin-bottom: 3rem;
  
 
 
}
.product-list {
  padding: 20px 0;
     
  display: flex;
  gap: 20px;
  flex-flow: row wrap;  
  justify-content: space-evenly;
  align-content: center;  
 
 
 
}

.product-list__card {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  flex: 0 1 270px;
  height: 500px;
  background-color: white;
  box-shadow: rgba(250, 246, 246, 0.2) 0px 2px 8px 0px; 
 

     
}

.product-list__card:hover {
  outline: 1px solid var(--blue);
  transform: scale(1.1, 1.1);
  cursor: pointer;
 
  
}

.product-list__link {
  display: flex;
  flex-direction: column;    
  align-items: center;
  row-gap: 10px; 
  text-decoration: none;

}

.product-list__card img {
  height: 250px;
  width: 250px;    
  display: block;
  border-radius: 4px;
}

.product-item__name {
  font-size: 24px;
  color: black;
 
}

.product-item__price {
  color: rgb(175, 23, 23);
  font-size: 32px;
  font-weight: bold;
 
}

.product-item__price-description {
  color: rgb(74, 69, 69);
  font-size: 12px;
  font-weight: bold;
}

.product-item__buy-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
}

.product-item__buy-button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  
}
/*=== SERVICES =================================*/
#services header h5{
  color: var(--primary-color);
  font-size: 3rem;
}

#services header h2 {
  margin-bottom: 6rem;
  font-size:3rem;
  color: var(--brand-light-2);
}


#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 1rem;
  text-align: center;
  width: 37.5rem;
  margin-inline: auto;

  background: var(--brand-light-2);

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h2 {
  color: blue;
}

#services .card h3 {
  margin-block: 1.6rem;
}

#services .card h4{
 color: rgb(74, 69, 69);
  }


#services .card button {
  background-color: var(--primary-color);
  border: none;
  color: var(--brand-light-2);
  font-size: 20px;
  padding: 6px 12px;
  
  
}

#services .card button:hover {
  background-color: var(--transition);
  filter: brightness(1.1);
  cursor: pointer;
  
}


/*=== ABOUT =================================*/
#about {
  text-align: left;
  background-color: var(--brand-light);
}
#about header h5{
  color: green;
  margin-top: 3rem;
  font-size: 2rem;
  margin-left: 3rem;
}
#about header h2 {
  margin-bottom: 2.4rem;
  margin-left: 3rem;

}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

#about .wrapper .nossasMarcas img {
 margin-left: 8rem;
}

/*=== CONTACT =================================*/
#contact {
  text-align: left;
  
}

#contact header {
  margin-bottom: 3.2rem;

}

#contact header h2 {
 color: var(--brand-light-2);

}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  color: var(--brand-light-2);

  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
#contact iframe {
  width: 37.5rem;
  margin-inline: auto;
}




/*=== FOOTER =================================*/
footer {
  background-color:var(--paragraph);
  

  text-align: left;

  color: var(--brand-light-2);
  
}

footer .logo {
  display: inline-block;
 
  
 
}

footer .logo svg {
 
  width: 23.6rem;
  height: 3.1rem;
  
}

footer .logo path {
  fill: white;
 
}

footer p {
  color: var(--brand-beige);
  line-height: 2;

}

footer .social-links {
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: left;
  

}
/* BACK TO TOP */
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*=== RESPONSIVO =================================*/
@media (min-width: 1024px) {
  /*=== GERAL =================================*/
  body {
    overflow: auto;
   
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }
 
  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
   
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /*=== NAVIGATION =================================*/
  /* reset */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    color: var(--primary-color);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: var(--brand-light-2);
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light-2);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu a.button {
    border-color: var(--brand-light-2);
    color: var(--brand-light-2);
  }

  nav#navigation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);

    position: relative;
    bottom: -2rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: var(--brand-light-2);
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }

  /*=== HOME =================================*/
  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center;
    
   
  }


  #home h1 {
    font-size: 5.2rem;
    color: var(--brand-light-2) ;
  }

  #home .content p {
    font-size: 1.8rem;
    text-align: left;
  }

  #home .stats {
    grid-area: C;

    flex-direction: row;
    padding: 6rem;
    gap: 0;
    
  }
  #home .stats .stat {
    flex: 1;
    
    
  }
  
 .stat img {
  width: 100%;
  
 }
  #home .button {
    margin: 0;
    margin-bottom: 2rem;
  }

  #home img {
    width: 32rem;
    margin-bottom: 2rem;
    
  }
  /*==============Product-list==============*/
  #loja .produtos h5 {
    font-size: 3rem;
    color: var(--primary-color);
  
  }
  
  #loja .produtos h2 {
    font-size: 3rem;
    margin-inline: auto;
    color: var(--brand-beige);
    
   
  }
  .product-list {
    padding: 20px 0;
       
    display: flex;
    gap: 20px;
    flex-flow: row wrap;  
    justify-content: space-evenly;
    align-content: center;  
   
   
   
  }
  
  .product-list__card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    flex: 0 1 270px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(250, 246, 246, 0.2) 0px 2px 8px 0px; 
   
  
       
  }
  
  .product-list__card:hover {
    outline: 1px solid var(--blue);
    transform: scale(1.1, 1.1);
    cursor: pointer;
   
    
  }
  
  .product-list__link {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 10px; 
    text-decoration: none;
  
  }
  
  .product-list__card img {
    height: 250px;
    width: 250px;    
    display: block;
    border-radius: 4px;
  }
  
  .product-item__name {
    font-size: 24px;
    color: black;
   
  }
  
  .product-item__price {
    color: rgb(175, 23, 23);
    font-size: 32px;
    font-weight: bold;
   
  }
  
  .product-item__price-description {
    color: rgb(74, 69, 69);
    font-size: 12px;
    font-weight: bold;
  }
  
  .product-item__buy-button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
  }
  
  .product-item__buy-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
    
  }

  /*=== SERVICES =================================*/
 
  #services header h5 {
    font-size: 3rem;
    color: var(--primary-color);
  
  }
  
  #services header h2 {
    font-size: 3rem;
    margin-inline: auto;
    color: var(--brand-light-2);
    
   
   
  }
  #services h4 {

  color: var(--primary-color);
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   
   
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    

    
   
    
  }

  #services .card {
    width: 20%;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-inline: auto;

    
    
  }

  #services .card button {
    background-color: var(--primary-color);
    border: none;
    color: var(--brand-light-2);
    font-size: 20px;
    padding: 6px 12px;
    
    
  }

  #services .card button:hover {
    background-color: var(--transition);
    filter: brightness(1.1);
    cursor: pointer;
    
}

  /*=== ABOUT =================================*/
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
   display: flex;
  }
  
  #about .content h5 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-left: 5rem;
    
  }

  #about .content h2 {
    margin-left: 5rem;
  }

  #about .col-a {
    align-self: center;
    display: flex;
    
  }
  
  
  #about .content p {
    margin-bottom: 3rem;
    margin-left: 5rem;
    text-align: left;
    
    
  }

  #about .col-a .nossasMarcas img {
    text-align: center;
    margin-left: 30rem;
    margin-bottom: 0;
    
   

  }


  /*=== CONTACT =================================*/

  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }

  #contact h2 {
    width: 40.4rem;
  }
  #contact .content ul li{

    font-size: 2.3rem;
    

  }
  
  /*=== FOOTER =================================*/
  footer {
    padding-block: 0.5rem;
    display: flex;
    
  }
  
  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: center;

  }


  footer .col-a p {
    margin-bottom: 0;
    
    justify-content: center;

    
  }

  footer .col-b .social-links{
    margin-right: 30rem;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 6rem;
  }

  footer .logo img {

    margin-right: 0;
    
    
    

  }
}
